# .gitignore

# Секреты
# Никогда не коммитьте переменные окружения!
.env
*.env

# Python / Django
__pycache__/
*.pyc
.venv/
env/
venv/

/backend/collected_static/
/media/

node_modules/
/frontend/build/
/frontend/dist/
.npm
npm-debug.log*


.DS_Store
Thumbs.db


.vscode/
.idea/