DATABASE_ENGINE=django.db.backends.postgresql
DATABASE_NAME=database
DATABASE_USER=user
DATABASE_PASSWORD=password 
DATABASE_HOST=host
DATABASE_PORT=5432
SECRET_KEY=django_secret_key
DEBUG=True/False
ALLOWED_HOSTS=127.0.0.1,localhost